{% if maps %}
<div class="container">
    <div class="row">
        {% for floormap in maps %}
        {% if floormap.floormap %}
        <div class="col" style="padding-bottom: 10px;">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ floormap }}</h5>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                        data-bs-target="#modal{{ forloop.counter }}">
                        Show map
                    </button>
                </div>
            </div>

            <div class="modal fade" id="modal{{ forloop.counter }}" tabindex="-1" aria-labelledby="modalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg modal-fullscreen-xl-down">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modalLabel">{{ floormap }}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img class="workplace-img" src="{{ floormap.floormap.url }}" alt="{{ floormap.name }}" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% else %}
<p>No floor maps are available.</p>
{% endif %}