{% extends "workwhere/base_generic.html" %}

{% block content %}

{% include "workwhere/title.html" with title="Office floor maps" %}

{% if object_list %}
<div class="container">

    {% for floormap in object_list %}
    {% if floormap.floormap %}
    <div class="row">
        <div class="col">
            <h2>{{ floormap }}</h2>
            <img class="workplace-img" src="{{ floormap.floormap.url }}" alt="{{ floormap.name }}" />
        </div>
    </div>
    {% endif %}
    {% endfor %}

</div>
{% else %}
<p>No floor maps are available.</p>
{% endif %}

{% endblock %}