{% extends "workwhere/base_generic.html" %}

{% block content %}
{% include "workwhere/title.html" with title="Reserve your spot" %}

<div class="container">
  <div class="row">
    <div class="col">
      <form method="post" id="reservationForm" data-workplaces-url="{% url 'workwhere:ajax_load_workplaces' %}"
        class="row g-3">
        {% csrf_token %}
        <div class="col-md-3">
          <label for="{{ form.employee.id_for_label }}" class="form-label">{{ form.employee.label }}</label>
          {{ form.employee }}
        </div>
        <div class="col-md-3">
          <label for="{{ form.day.id_for_label }}" class="form-label">{{ form.day.label }}</label>
          {{ form.day }}
          <div class="btn-group" role="group" aria-label="switch-button">
            <button type="button" class="btn btn-secondary btn-sm" id="prev-day-btn">&laquo;</button>
            <button type="button" class="btn btn-secondary btn-sm" id="next-day-btn">&raquo;</button>
          </div>
        </div>
        <div class="col-md-3">
          <label for="{{ form.workplace.id_for_label }}" class="form-label">{{ form.workplace.label }}</label>
          {{ form.workplace }}
        </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Save</button>
        </div>
        <div id="alert">
          {% if alert == "success" %}
          <div class="col-5 alert alert-success" role="alert">
            {{ message }}
          </div>
          {% elif alert == "error" %}
          <div class="col-5 alert alert-danger" role="alert">
            {{ message }}
            {{ form.errors }}
          </div>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr>
      <h4>Office floor maps</h4>
      {% if maps %}
      <div class="container">
        <div class="row">
          {% for floormap in maps %}
          {% if floormap.floormap %}
          <div class="col" style="padding-bottom: 10px;">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{ floormap }}</h5>
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                  data-bs-target="#modal{{ forloop.counter }}">
                  Show map
                </button>
              </div>
            </div>

            <div class="modal fade" id="modal{{ forloop.counter }}" tabindex="-1" aria-labelledby="modalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-lg modal-fullscreen-xl-down">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalLabel">{{ floormap }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <img class="workplace-img" src="{{ floormap.floormap.url }}" alt="{{ floormap.name }}" />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      {% else %}
      <p>No floor maps are available.</p>
      {% endif %}
    </div>
  </div>
</div>






<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  $(document).ready(function () {

    $("#id_employee, #id_day").change(function () {
      var url = $("#reservationForm").attr("data-workplaces-url");  // get the url of the `load_workplaces` view
      var day = $("#id_day").val();  // get the selected date from the HTML input
      var employeeId = $("#id_employee").val(); // get the selected employee from the HTML input

      $.ajax({              // initialize an AJAX request
        url: url,           // set the url of the request (= localhost:8000/workwhere/ajax/load-workplaces/)
        data: {
          'day': day,       // add the date to the GET parameters
          'employee': employeeId,
        },
        success: function (data) {   // `data` is the return of the `load_workplaces` view function
          $("#id_workplace").html(data);  // replace the contents of the workplace input with the data that came from the server
        }
      });
    });


    $('#prev-day-btn').click(function () {
      var initialDate = new Date($('#id_day').val());

      initialDate.setDate(initialDate.getDate() - 1);
      $('#id_day').val(initialDate.toISOString().slice(0, 10)).change();
    });

    $('#next-day-btn').click(function () {
      var initialDate = new Date($('#id_day').val());

      initialDate.setDate(initialDate.getDate() + 1);
      $('#id_day').val(initialDate.toISOString().slice(0, 10)).change();
    });

    setTimeout(function () {
      document.getElementById("alert").style.visibility = "hidden";
    }, 3000);


  });

</script>

{% endblock %}