{% extends "workwhere/base_generic.html" %}

{% block content %}

  <h1>Reserve your spot</h1>

  <form method="post" id="reservationForm" data-workplaces-url="{% url 'workwhere:ajax_load_workplaces' %}" novalidate>
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button class="btn btn-primary" type="submit">Save</button>
    <a href="{% url 'workwhere:index' %}" class="btn btn-outline-secondary" role="button">Abort</a>
  </form>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $(document).ready(function () {

        $("#id_employee, #id_day").change(function () {
          var url = $("#reservationForm").attr("data-workplaces-url");  // get the url of the `load_workplaces` view
          var day = $("#id_day").val();  // get the selected date from the HTML input
          var employeeId = $("#id_employee").val(); // get the selected employee from the HTML input

          $.ajax({              // initialize an AJAX request
            url: url,           // set the url of the request (= localhost:8000/workwhere/ajax/load-workplaces/)
            data: {
              'day': day,       // add the date to the GET parameters
              'employee': employeeId,
            },
            success: function (data) {   // `data` is the return of the `load_workplaces` view function
              $("#id_workplace").html(data);  // replace the contents of the workplace input with the data that came from the server
            }
          });
        });

    });
    
  </script>

{% endblock %}
