{% extends "workwhere/base_generic.html" %}

{% block content %}
{% include "workwhere/title.html" with title="Summary" %}
<div style="display: flex; justify-content: space-between;">
    <div class="btn-group" role="group" aria-label="Basic example" style="padding-bottom: 10px;">
        <a href="{% url 'workwhere:summary' year=prev.year month=prev.month %}" class="btn btn-primary"
            role="button">&laquo;</a>
        <button type="button" class="btn btn-outline-primary" disabled>{{ date|date:"F Y" }}</button>
        <a href="{% url 'workwhere:summary' year=next.year month=next.month %}" class="btn btn-primary"
            role="button">&raquo;</a>
    </div>
    <button class="btn btn-outline-secondary" onclick="window.print()">Print</button>
</div>

<h5><span class="badge bg-secondary">{{ workdays_count }} working days</span></h5>


<h2 style="padding-top: 15px;">Office utilization by location</h2>
{% for location, stats in data_per_day.items %}
<div class="summaryblock">
    <h3 style="padding-top: 15px;">{{ location }}</h3>
    <table class="table">
        <colgroup>
            <col style="width: 20%;">
            <col style="width: 80%;">
        </colgroup>
        <tbody>
            <tr>
                <th scope="row">All employees</th>
                <td>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{stats.total_rate|floatformat:0}}%;"
                            aria-valuenow={{stats.total_rate|floatformat:0}} aria-valuemin="0" aria-valuemax="100">
                            {{stats.total_rate|floatformat:0}}%</div>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">Employees without students</th>
                <td>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar"
                            style="width: {{stats.total_nonstudent_rate|floatformat:0}}%;"
                            aria-valuenow={{stats.total_nonstudent_rate|floatformat:0}} aria-valuemin="0"
                            aria-valuemax="100">
                            {{stats.total_nonstudent_rate|floatformat:0}}%</div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endfor %}


<h2 style="padding-top: 15px;">Reservations per person</h2>
<div class="summaryblock">
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">Employee</th>
                <th scope="col">Reservation Coverage</th>
                <th scope="col">Office Rate</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in data_per_person.values %}
            <tr>
                <th scope="row">***</th>

                {% if employee.total_rate == 100 %}
                <td class="table-success">{{ employee.total_rate|floatformat:1 }}%</td>
                {% else %}
                <td class="table-warning">{{ employee.total_rate|floatformat:1 }}%</td>
                {% endif %}

                {% if employee.office_rate >= 20 %}
                <td class="table-success">{{ employee.office_rate|floatformat:1 }}%</td>
                {% else %}
                <td class="table-warning">{{ employee.office_rate|floatformat:1 }}%</td>
                {% endif %}

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}