{% extends "workwhere/base_generic.html" %}

{% block content %}

<div id="availabilityList" data-availability-url="{% url 'workwhere:ajax_update_today' %}">
    {% include "workwhere/today_list.html" with date=date rooms_today=rooms_today %}
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        (function update() {
            var url = $("#availabilityList").attr("data-availability-url");
            $.ajax({
                url: url,
                success: function (data) {
                    $('#availabilityList').html(data);
                },
            }).then(function () {           // on completion, restart
                setTimeout(update, 10000);  // function refers to itself
            });
        })();
    });
</script>

{% endblock %}