{% include "workwhere/title.html" with title=title %}

{% if desks_today %}
<div class="container">
    <div class="row row-cols-3">
        {% for floor, desks in desks_today.items %}
        <div class="col-md-4">
            <h2>{{ floor }}</h2>

            <table class="table todaytable">
                <thead>
                    <tr>
                        <th scope="col">Workplace</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% if desks %}
                    {% for desk, status in desks.items %}
                    <tr>
                        <td>{{desk}}</td>
                        <td>{{status}}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="2">No desks on this floor</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<p>No office desks are available.</p>
{% endif %}